.loader {
  display: block;
  margin: 0 auto 40px;
  width: 48px;
  height: 48px;
  border: 5px solid #e0e0e0;
  border-bottom-color: #4e75ff;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}

.loader.is-hidden {
  display: none;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
